
.App {
  text-align: center;
  background-color: #191a1c;
}
body{
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rofontbotoBold{
  font-family: RobotoBold , serif;
}

/* Navbar CSS starts  */
.navbar{
  background-color: black;
  position: absolute;
}
.navbar-nav , .navbar-brand {
  font-family: RobotoBold , serif;
  color: grey;

}
.nav-link:hover {
  border-bottom: 1px solid white;
}
/* Navbar CSS ends  */

/* Home Page CSS start  */
.homeMain{
  height: 100vh;
  background-image: url(./images/cover.jpg);
  background-size: cover;
}
.homeMain h1{
  font-size: 6rem;
}
.homeMain p{
  color: white;
  font-family: poppins;
}
.button{
  padding: 0.5rem 2rem;
  font-weight:900;
  border: none;
  background-color: white;
  color: black;
  transition: all 0.5s ease-in-out;
  font-family: poppins;
}
.button:hover{
  transform: scale(1.1);
  
}
/* Home Page CSS ends  */

/* Services Page CSS starts  */

.servicesMain p{
  color: rgb(192, 192, 192);
  margin-bottom: 0;
  
}
.OutlineTitle{
  color: transparent;
	font-size: 60px;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(192, 192, 192);

}
.serviceCard{
  border: 1px solid white;
  margin: 1rem;
  padding:  1.5rem 3rem;
  width: 20rem;
  transition: all .2s ease-in-out
}
.serviceCard h2{
  color: white;
  font-family: RobotoBold , serif;
  font-size: 35px;
}
.serviceCard i{
  color: white;
  font-size: 2.5rem;
  
}
.serviceCard:hover {
  background-color:white;
  transform: scale(1.1);
}
.serviceCard:hover > * {
  color: #191a1c;
}

/* Services Page CSS ends  */

/* Projects Page CSS starts  */
.projects{
  height: 100vh;
  background-color: #191a1c;
}
.slider{

  height: 80vh;
  width: 75vw;
  box-shadow: 10px 10px 10px black;
}
.slider div img{
  height: 80vh;
  z-index: -1;
}
.carouselText{
  transition: all 0.2s ease-in-out;
}
.slider:hover .carouselText{
  transform: translateY(-25%);
  font-size: 1.5rem;
}
.slider:hover .cimg{
  opacity: 0.4;
}
.slider:hover .hidden{
  display: block;
}
.hidden{
  display: none;
  font-size: 1rem;
}
@media (max-width: 1250px) {
  .slider{
    width: 100%;
  }
  .homeMain h1{
    font-size: 4rem;
  }
  .slider:hover .carouselText{
    transform: translateY(-25%);
    font-size: 0.5rem;
  }
  
  
}
/* Projects Page CSS ends  */
/* Numbers CSS starts  */
.num{
  border: 2px solid white;
  margin: 1rem;
  height: 15rem;
  border-bottom: 1rem solid white;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  font-family: RobotoBold , serif;
  transition: all 0.2s ease-in-out;
}
.num:hover{
  background-color: white;
  color: black;
  transform: scale(1.1);
}
.numCount{
  font-size: 3rem;
}
/* Numbers CSS ends  */

/* About CSS starts  */
.aboutimg{
  margin: 0;
  width: 300px;
  height: 200px;
  
}
.Abouttext{
  color: white;
  text-align: left;
  font-family: poppins,serif;
  
}
.aboutbox{
  border: 1px solid white;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .container{
    width: 100vw;
  }
  .aboutbox{
    display: flex;
    flex-direction: column;
  }
  .aboutReverse{
    flex-direction: column-reverse;
  }
  .Abouttext{
    margin-top:1rem ;
  }
}


/* About CSS ends  */

/* Client Page CSS starts  */
.clientCard{
  height: 15rem;
  border: 1px solid white;
  perspective: 1000;
  cursor:pointer;
  padding: 2rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


/* This container is needed to position the front and back side */
.clientCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.clientCard:hover .clientCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.clientCardFront, .clientCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.clientCardFront {
  text-align: center;
  margin-top: 1rem;
}

/* Style the back side */
.clientCardBack {
  background-color: #191a1c;
  color: white;
  transform: rotateY(180deg);
  padding: 2rem;
}
.clientCardFront img{
  margin-top: 0.5rem;
  height: 85%;
  width: 90%;
}
.clientCardBack p{
  font-family: poppins;
}
/* Client page CSS ends  */

/* ContactPage CSS starts  */
.contactForm{
  padding: 2rem;
  border: 1px solid white;
  width: 75vw;
}
.formInputDiv{
  /* border: 1px solid white; */
  width: 10rem;
  height: 4rem;
}
input{
  background-color: transparent;
  border: none;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid white;
  color: white;
  font-size: 2rem;
  padding-left: 1rem;
}
input:focus{
  border: none;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 1000px) {
  .contactForm{
    width: 100vw;
  }
}


/* ContactPage CSS ends  */